*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}   

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #121212;
  color: #F8F8FF;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

blockquote {
  border-left: 4px solid #555;
  padding-left: 1rem;
  font-style: italic;
  color: #808080;
}

header, footer {
  padding: 1rem;
  background-color: #808080;
}